.footer{
    width: 100%;
    padding: 1rem 0 ;
    background-color: rgba(63, 52, 52, 0.8);
    margin-left: 10;

}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 grid-gap: 5%;

}
.footer__copyright {
    font-size: 1rem;
    text-align: center;
    padding-top: 0.1rem;
    color: rgb(0, 247, 255);
  }
  
.up{
    height: 50%;
    max-width: 200%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: -15%;
}

.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.location p {
    line-height: 30px;
}
.down{
    height: 50%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 40%;
}
.social{
    margin-top: 1rem;
}
h4{
    font-size: 1rem;
    padding-bottom: 0.7rem;

}
p{
    font-size: 1rem;
}
@media screen and (max-width : 640px) {
    .up{
        height: 50%;
        max-width: 200%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
      margin-left: 0%;
    }
    .down{
        height: 50%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-left: 0%;
    }
    .footer__copyright {
        font-size: 1rem;
        text-align: center;
        padding-top: 1.5rem;
        color: rgb(0, 247, 255);
      }
    .footer-container{
        grid-template-columns: 1fr;
        grid-gap: 10%;
        
    }
    .footer{
        width: 100%;
        height: 500px;
        padding: 0.3px 0 ;
        background-color: rgba(63, 52, 52, 0.8);
    
    }
    
}