.hero11{
  width: 94%;
}
.container .hero__wrapper {
    min-height:10rem;
    width: 500px;
    margin-left: 25%;

  }
  .hero__wrapper 
  .hero__img{
    margin-left: 20%;
  }

  .container .hero11 .container{
    margin-left: 15%;
 
  }
  .container .hero__content {
    text-align: center;
    text-wrap: wrap;
    
  }
  
  .container .hero__title {
    font-size: 600;
    margin-bottom: 5rem;
    position: relative;
  }
  
  .container .hero__title::after {
    position: absolute;
    content: "";
    background-color: aqua;
    width: 10rem;
    height: 0.3rem;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
 


@keyframes formanimination {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    box-shadow: 0 0 5px #00ff6ad3, 0 0 20px#00ff6ab9, 0 0 50px #00ff6ac2,
      0 0 100px #00ff6ac7;
  }

  100% {
    transform: translateY(0);
  }
}
  
.container  .hero__description {
    margin-bottom: 5rem;
  }
.Founder{
   text-shadow:  0 0 15px rgb(1, 31, 41), 0 0 15px rgb(0, 238, 255), 0 0 15px rgb(0, 238, 255);
   text-transform: uppercase;
 
  }
  
  .container .hero__info {
    border-top: 1px solid aqua;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  
  .container  .hero__info-number {
    font-size: 700;
    font-weight: bold;
    color:  rgb(0, 247, 255);
    margin-bottom: 1rem;
  }
  
  .container .hero__info-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(0, 247, 255);
  }
  
  
  .hero__img{
    width: 110%;
    margin: 80px;
    border-radius: 50%;
    box-shadow:  0 0 15px rgb(1, 31, 41), 0 0 15px rgb(0, 238, 255), 0 0 15px rgb(0, 238, 255);
    animation: formanimination 3s infinite alternate ease-in-out;
  }
  
  @media screen and (max-width: 640px) {
    .hero__img {
      width: 90%;
      justify-self: center;
      margin-left: 10%;
    }
    .hero11{
      width: 89%;
    }
    .container .hero__wrapper {
  min-height:10rem;
  width: 300px;
  margin-left: -10%;

}
.container .hero11 .container{
  margin-left: 10%;

}

  }