.heading{
    text-align: center;
    padding: 4rem 0 2rem 0 ;

}
.work-container{
    height: 120%;
    width: 80%;
    margin-left: -10%;
    top: 0;
    display: grid;
   


}
.project-container{
    max-width: 1140px;
    margin: auto;
   margin-left: -15%;
    display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 70px;
  margin-left: 5%;
}
.project-card{
  background:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border: 1px solid #00fff2;

    padding: 1.2rem 1rem;
    width: 250px;
    height: 250px;

}

.project-titel{
    color: white;
    padding: 1rem 0 ;
}
.project-details{
    font-size: 1.1rem;
    padding-bottom: 1rem;
    text-align: justify;

}
.project-btnss{
    display: flex;
    padding: 0.5rem 0;
    justify-content: space-between;
}
.project-btnss .btn{
    padding: 0.5rem 1rem;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}
.project-btnss .btn2{
    padding: 0.5rem 1rem;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}
.work-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    margin-left: 15%;
}
.project-btnss .btn:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;}
    .project-btnss .btn2:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
    }
@media screen and (max-width:740px){

    .work-container{
        grid-template-columns:repeat(1,1fr);
    }
   
}
.project-card:hover,
:focus {

  background:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border: 1px solid #00fff2;


animation: formanimination 3s infinite alternate ease-in-out;
}
@keyframes formanimination{
  0% {
 transform: translateY(0);
  }
  50%{ transform: translateY(-10px);
    box-shadow: 0 0 5px #08d1d8, 0 0 20px#08d1d8, 0 0 50px #08d1d8,
      0 0 100px #08d1d8;
  }
  100%{
    transform: translateY(0);
  }
}