
.project-card{
  margin-left: 15%;
    background: rgba(8, 0, 119, 0.164);
    padding: 1.2rem 1rem;
    width: 300px;
    height: 430px;

}
.project-card img{
    width: 100%;
}
.project-titel{
    color: white;
    padding: 1rem 0 ;
}
.project-details{
    font-size: 1.1rem;
    padding-bottom: 1rem;
    text-align: justify;

}
.project-btnss{
    display: flex;
    padding: 0.5rem 0;
justify-content: center;
}
.project-btnss .btnp{
    padding: 0.5rem 1rem;
    padding: 15px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 1s ease;
    user-select: none;
}


.project-btnss .btnp:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;}
@media screen and (max-width:740px){

    .project-container{
        grid-template-columns: repeat(1,1fr);
       
    
        left: -10%;
     margin-left: -12%;
        padding: 10px;
      cursor: pointer;
      }
      .project-card{
        margin-left: 5%;
      }
    
}
.project-card img{
    height: 200px;
    width: 265px;
}
.project-card:hover,
:focus { background:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  border: 1px solid #00fff2;


animation: formanimination 3s infinite alternate ease-in-out;
}
@keyframes formanimination{
  0% {
 transform: translateY(0);
  }
  50%{ transform: translateY(-10px);
    box-shadow: 0 0 5px #08d1d8, 0 0 20px#08d1d8, 0 0 50px #08d1d8,
      0 0 100px #08d1d8;
  }
  100%{
    transform: translateY(0);
  }
}